In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Q NO 1

In [2]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [3]:
# page content
soup = BeautifulSoup(page.content)

In [4]:
titles = []
for i in soup.find_all('span', class_="mw-headline"):
    titles.append(i.text)

In [5]:
df = pd.DataFrame({'Titles':titles})
df

                          Titles
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

## Q NO 2

In [6]:
page = requests.get('https://www.imdb.com/list/ls055386972/')
page

In [7]:
# page content
soup = BeautifulSoup(page.content)

In [8]:
movies_name=[]
for i in soup.find_all("h3", class_="lister-item-header"):
    movies_name.append(i.text.replace('\n',''))

In [9]:
movies_rating = []
for i in soup.find_all('div',class_="ipl-rating-star small"):
    movies_rating.append(i.text.replace('\n',''))

In [10]:
year_of_release=[]
for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
    year_of_release.append(i.text)

In [11]:
print(len(movies_name),len(movies_rating),len(year_of_release))

50 50 50

In [12]:
df=pd.DataFrame({"Movies Name":movies_name,"Released Year":year_of_release,"Movie Ratings":movies_rating})
df

                                      Movies Name Released Year Movie Ratings
0                           1.The Godfather(1972)        (1972)           9.2
1                        2.Schindler's List(1993)        (1993)             9
2                            3.12 Angry Men(1957)        (1957)             9
3                         4.La vita è bella(1997)        (1997)           8.6
4         5.Il buono, il brutto, il cattivo(1966)        (1966)           8.8
5                6.The Shawshank Redemption(1994)        (1994)           9.3
6                7.The Pursuit of Happyness(2006)        (2006)             8
7                    8.Shichinin no samurai(1954)        (1954)           8.6
8                        9.The Intouchables(2011)        (2011)           8.5
9                      10.Central do Brasil(1998)        (1998)             8
10                   11.Requiem for a Dream(2000)        (2000)           8.3
11                      12.A Beautiful Mind(2001)        (2001)           8.2
12                   13.Hachi: A Dog's Tale(2009)        (2009)           8.1
13                             14.Taken(I) (2008)    (I) (2008)           7.8
14                  15.Yeopgijeogin geunyeo(2001)        (2001)             8
15                         16.Amores perros(2000)        (2000)           8.1
16                           17.The Shining(1980)        (1980)           8.4
17                            18.Apocalypto(2006)        (2006)           7.8
18                             19.Gladiator(2000)        (2000)           8.5
19                             20.Cast Away(2000)        (2000)           7.8
20                       21.The Dark Knight(2008)        (2008)             9
21                           22.The Pianist(2002)        (2002)           8.5
22                               23.Titanic(1997)        (1997)           7.9
23                               24.Bin-jip(2004)        (2004)           7.9
24                            25.Braveheart(1995)        (1995)           8.4
25                 26.It's a Wonderful Life(1946)        (1946)           8.6
26  27.Bom yeoreum gaeul gyeoul geurigo bom(2003)        (2003)             8
27                                 28.Alien(1979)        (1979)           8.5
28                        29.Salinui chueok(2003)        (2003)           8.1
29                        30.Vozvrashchenie(2003)        (2003)           7.9
30                  31.Ang-ma-reul bo-at-da(2010)        (2010)           7.8
31                     32.Bacheha-Ye aseman(1997)        (1997)           8.2
32               33.Jodaeiye Nader az Simin(2011)        (2011)           8.3
33                       34.The Sixth Sense(1999)        (1999)           8.2
34               35.Nae meorisokui jiwoogae(2004)        (2004)           8.1
35                             36.Okuribito(2008)        (2008)             8
36                   37.Wo de fu qin mu qin(1999)        (1999)           7.8
37                   38.Saving Private Ryan(1998)        (1998)           8.6
38          39.The Bridge on the River Kwai(1957)        (1957)           8.2
39                               40.Ben-Hur(1959)        (1959)           8.1
40                          41.The Exorcist(1973)        (1973)           8.1
41                42.El secreto de sus ojos(2009)        (2009)           8.2
42                                  43.Léon(1994)        (1994)           8.5
43                        44.The Green Mile(1999)        (1999)           8.6
44                           45.Gran Torino(2008)        (2008)           8.1
45                     46.Kill Bill: Vol. 1(2003)        (2003)           8.2
46                         47.Jurassic Park(1993)        (1993)           8.2
47            48.Terminator 2: Judgment Day(1991)        (1991)           8.6
48                    49.Back to the Future(1985)        (1985)           8.5
49                          50.Finding Nemo(2003)        (2003)           8.2

## Q NO 3

In [13]:
page = requests.get('https://www.imdb.com/list/ls025646548/')
page

In [14]:
# page content
soup = BeautifulSoup(page.content)

In [15]:
movies_name=[]
for i in soup.find_all("h3", class_="lister-item-header"):
    movies_name.append(i.text.replace('\n',''))

In [16]:
movies_rating = []
for i in soup.find_all('div',class_="ipl-rating-star small"):
    movies_rating.append(i.text.replace('\n',''))

In [17]:
year_of_release=[]
for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
    year_of_release.append(i.text)

In [18]:
print(len(movies_name),len(movies_rating),len(year_of_release))

50 50 50

In [19]:
df=pd.DataFrame({"Movies Name":movies_name,"Released Year":year_of_release,"Movie Ratings":movies_rating})
df

                                   Movies Name Released Year Movie Ratings
0                               1.Awaara(1951)        (1951)           7.8
1                            2.Shree 420(1955)        (1955)           7.9
2                               3.Pyaasa(1957)        (1957)           8.3
3                            4.Madhumati(1958)        (1958)           7.8
4                               5.Kanoon(1960)        (1960)           7.9
5                        6.Mughal-E-Azam(1960)        (1960)           8.1
6                           7.Kala Bazar(1960)        (1960)           7.1
7                        8.Woh Kaun Thi?(1964)        (1964)           7.5
8                                9.Guide(1965)        (1965)           8.4
9                            10.Amrapali(1966)        (1966)           6.7
10                              11.Anand(1971)        (1971)           8.1
11                        12.Rajnigandha(1974)        (1974)           7.3
12      13.Arvind Desai Ki Ajeeb Dastaan(1978)        (1978)           7.2
13                     14.Satte Pe Satta(1982)        (1982)           7.2
14                       15.Disco Dancer(1982)        (1982)           6.4
15                 16.Jaane Bhi Do Yaaro(1983)        (1983)           8.3
16                         17.Ardh Satya(1983)        (1983)           8.1
17                              18.Katha(1983)        (1983)           7.7
18                            19.Parinda(1989)        (1989)           7.8
19                           20.Baazigar(1993)        (1993)           7.6
20                               21.Darr(1993)        (1993)           7.6
21                           22.Rangeela(1995)        (1995)           7.4
22        23.Dilwale Dulhania Le Jayenge(1995)        (1995)             8
23                         24.Border(I) (1997)    (I) (1997)           7.9
24                              25.Satya(1998)        (1998)           8.3
25                              26.Kaun?(1999)        (1999)           7.8
26  27.Lagaan: Once Upon a Time in India(2001)        (2001)           8.1
27                            28.Company(2002)        (2002)             8
28                              29.Bhoot(2003)        (2003)           6.4
29                     30.Darna Mana Hai(2003)        (2003)           6.3
30                31.Munna Bhai M.B.B.S.(2003)        (2003)           8.1
31                             32.Khakee(2004)        (2004)           7.4
32                         33.Veer-Zaara(2004)        (2004)           7.8
33             34.Swades: We, the People(2004)        (2004)           8.2
34       35.Main, Meri Patni... Aur Woh!(2005)        (2005)           7.2
35                       36.Garam Masala(2005)        (2005)           6.7
36                            37.Don(I) (2006)    (I) (2006)           7.1
37                               38.Guru(2007)        (2007)           7.7
38                     39.Chak De! India(2007)        (2007)           8.1
39                         40.No Smoking(2007)        (2007)           7.3
40                        41.A Wednesday(2008)        (2008)           8.1
41                           42.3 Idiots(2009)        (2009)           8.4
42                    43.My Name Is Khan(2010)        (2010)           7.9
43                          44.Guzaarish(2010)        (2010)           7.4
44           45.Zindagi Na Milegi Dobara(2011)        (2011)           8.2
45                           46.Rockstar(2011)        (2011)           7.7
46                              47.Don 2(2011)        (2011)             7
47                               48.Piku(2015)        (2015)           7.6
48                            49.Airlift(2016)        (2016)           7.9
49                          50.Andhadhun(2018)        (2018)           8.2

## Q NO 4

In [20]:
page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page

In [21]:
# page content
soup = BeautifulSoup(page.content)

In [22]:
presidents_name=[]
for i in soup.find_all('div',class_="presidentListing"):
    presidents_name.append(i.text.split('\n')[1:2])

In [23]:
term_of_office=[]
for i in soup.find_all('div',class_="presidentListing"):
    term_of_office.append(i.text.split('\n')[2:3])

In [24]:
print(len(term_of_office),len(presidents_name))

14 14

In [25]:
df=pd.DataFrame({"Presidents Name":presidents_name,"Term of Office":term_of_office})
df

,Presidents Name,Term of Office
0,[Shri Ram Nath Kovind (birth - 1945)],"[Term of Office: 25 July, 2017 to 25 July, 2022 ]"
1,[Shri Pranab Mukherjee (1935-2020)],"[Term of Office: 25 July, 2012 to 25 July, 2017 ]"
2,[Smt Pratibha Devisingh Patil (birth - 1934)],"[Term of Office: 25 July, 2007 to 25 July, 2012 ]"
3,[DR. A.P.J. Abdul Kalam (1931-2015)],"[Term of Office: 25 July, 2002 to 25 July, 2007 ]"
4,[Shri K. R. Narayanan (1920 - 2005)],"[Term of Office: 25 July, 1997 to 25 July, 2002 ]"
5,[Dr Shankar Dayal Sharma (1918-1999)],"[Term of Office: 25 July, 1992 to 25 July, 1997 ]"
6,[Shri R Venkataraman (1910-2009)],"[Term of Office: 25 July, 1987 to 25 July, 1992 ]"
7,[Giani Zail Singh (1916-1994)],"[Term of Office: 25 July, 1982 to 25 July, 1987 ]"
8,[Shri Neelam Sanjiva Reddy (1913-1996)],"[Term of Office: 25 July, 1977 to 25 July, 1982 ]"
9,[Dr. Fakhruddin Ali Ahmed (1905-1977)],"[Term of Office: 24 August, 1974 to 11 Februar..."
10,[Shri Varahagiri Venkata Giri (1894-1980)],"[Term of Office: 3 May, 1969 to 20 July, 1969 ..."
11,[Dr. Zakir Husain (1897-1969)],"[Term of Office: 13 May, 1967 to 3 May, 1969]"
12,[Dr. Sarvepalli Radhakrishnan (1888-1975)],"[Term of Office: 13 May, 1962 to 13 May, 1967]"
13,[Dr. Rajendra Prasad (1884-1963) ],"[Term of Office: 26 January, 1950 to 13 May, 1..."

# Q NO 5

In [26]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page

In [27]:
soup = BeautifulSoup(page.content)

In [28]:
match1 =[]
for i in soup.find_all('td',class_="rankings-block__banner--matches"):
    match1.append(i.text)
match1

['35']

In [29]:
match2 =[]
for i in soup.find_all('tr',class_="table-body"):
    match2.append(i.text.split('\n')[7])
match2[0:10]

['47', '30', '36', '25', '29', '38', '35', '43', '20', '27']

In [30]:
match=(match1 + match2)
match[0:10]

['35', '47', '30', '36', '25', '29', '38', '35', '43', '20']

In [31]:
points1 =[]
for i in soup.find_all('td',class_="rankings-block__banner--points"):
    points1.append(i.text)
points1

['3,965']

In [32]:
points2 =[]
for i in soup.find_all('tr',class_="table-body"):
    points2.append(i.text.split('\n')[8])
points2[0:10]

['5,294',
 '3,367',
 '3,988',
 '2,649',
 '2,919',
 '3,625',
 '3,037',
 '3,105',
 '1,419',
 '1,384']

In [33]:
points=(points1 + points2)
points[0:10]

['3,965',
 '5,294',
 '3,367',
 '3,988',
 '2,649',
 '2,919',
 '3,625',
 '3,037',
 '3,105',
 '1,419']

In [34]:
rating1 =[]
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    rating1.append(i.text.split('\n')[1])
rating1

['                            113']

In [35]:
rating2 =[]
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating2.append(i.text)
rating2[0:10]

['113', '112', '111', '106', '101', '95', '87', '72', '71', '51']

In [36]:
rating=(rating1 + rating2)
rating[0:10]

['                            113',
 '113',
 '112',
 '111',
 '106',
 '101',
 '95',
 '87',
 '72',
 '71']

In [37]:
df=pd.DataFrame({"Match":match,"Points":points,"Rating":rating})
df[:10]

  Match Points                           Rating
0    35  3,965                              113
1    47  5,294                              113
2    30  3,367                              112
3    36  3,988                              111
4    25  2,649                              106
5    29  2,919                              101
6    38  3,625                               95
7    35  3,037                               87
8    43  3,105                               72
9    20  1,419                               71

# Q NO 6

In [38]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page

In [39]:
soup = BeautifulSoup(page.content)

In [40]:
match1 =[]
for i in soup.find_all('td',class_="rankings-block__banner--matches"):
    match1.append(i.text)
match1

['21']

In [41]:
match2 =[]
for i in soup.find_all('tr',class_="table-body"):
    match2.append(i.text.split('\n')[7])
match2[0:10]

['28', '26', '27', '25', '27', '13', '8', '27', '8', '14']

In [42]:
match=(match1 + match2)
match[0:10]

['21', '28', '26', '27', '25', '27', '13', '8', '27', '8']

In [43]:
points1 =[]
for i in soup.find_all('td',class_="rankings-block__banner--points"):
    points1.append(i.text)
points1

['3,603']

In [44]:
points2 =[]
for i in soup.find_all('tr',class_="table-body"):
    points2.append(i.text.split('\n')[8])
points2[0:10]

['3,342',
 '3,098',
 '2,820',
 '2,553',
 '2,535',
 '983',
 '572',
 '1,678',
 '353',
 '548']

In [45]:
points=(points1 + points2)
points[0:10]

['3,603',
 '3,342',
 '3,098',
 '2,820',
 '2,553',
 '2,535',
 '983',
 '572',
 '1,678',
 '353']

In [46]:
rating1 =[]
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    rating1.append(i.text.split('\n')[1])
rating1

['                            172']

In [47]:
rating2 =[]
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating2.append(i.text)
rating2[0:10]

['119', '119', '104', '102', '94', '76', '72', '62', '44', '39']

In [48]:
rating=(rating1 + rating2)
rating[0:10]

['                            172',
 '119',
 '119',
 '104',
 '102',
 '94',
 '76',
 '72',
 '62',
 '44']

In [49]:
df=pd.DataFrame({"Match":match,"Points":points,"Rating":rating})
df[:10]

  Match Points                           Rating
0    21  3,603                              172
1    28  3,342                              119
2    26  3,098                              119
3    27  2,820                              104
4    25  2,553                              102
5    27  2,535                               94
6    13    983                               76
7     8    572                               72
8    27  1,678                               62
9     8    353                               44

# Q NO 7

In [50]:
page = requests.get("https://www.cnbc.com/world/?region=world")
page

In [51]:
soup = BeautifulSoup(page.content)

In [52]:
headline=[]
for i in soup.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)

In [53]:
time=[]
for i in soup.find_all('span',class_="LatestNews-wrapper"):
    time.append(i.text)

In [54]:
link=[]
for i in soup.find_all('div',class_="LatestNews-container"):
    link.append(i.find('a',class_="LatestNews-headline").get("href"))

In [55]:
print(len(headline),len(time),len(link))

30 30 30

In [56]:
import pandas as pd
df=pd.DataFrame({"Headline":headline,"Time":time,"News Link":link})
df

,Headline,Time,News Link
0,"Hot off up quarter for stocks, investors turn ...",12 Min Ago,https://www.cnbc.com/2023/04/01/hot-off-a-posi...
1,30-day money challenge to get smarter and more...,1 Hour Ago,https://www.cnbc.com/2023/04/01/financial-lite...
2,Tipping in the United States has gotten out of...,2 Hours Ago,https://www.cnbc.com/2023/04/01/how-tipping-in...
3,These stocks are a must-own as market uncertai...,2 Hours Ago,https://www.cnbc.com/2023/04/01/analysts-say-b...
4,ETF outlook: Why Wall Street strategists aren'...,2 Hours Ago,https://www.cnbc.com/2023/04/01/quarterly-inve...
5,Markets and economy survived tough first quart...,2 Hours Ago,https://www.cnbc.com/2023/04/01/quarterly-inve...
6,Pet stocks are a hit or miss as consumer spend...,14 Hours Ago,https://www.cnbc.com/2023/03/31/pet-stocks-are...
7,Pro Picks: Watch all of Friday's big stock cal...,17 Hours Ago,https://www.cnbc.com/2023/03/31/pro-picks-watc...
8,Here are our 4 best stocks — and 4 worst stock...,17 Hours Ago,https://www.cnbc.com/2023/03/31/first-quarter-...
9,Judge allows Dominion's $1.6 billion defamatio...,18 Hours Ago,https://www.cnbc.com/2023/03/31/fox-motions-re...
10,"Google founder, former Disney exec to get subp...",18 Hours Ago,https://www.cnbc.com/2023/03/31/google-founder...
11,Millions will start losing Medicaid coverage,18 Hours Ago,https://www.cnbc.com/2023/03/31/medicaid-milli...
12,Trump's campaign uses Facebook to fundraise of...,18 Hours Ago,https://www.cnbc.com/2023/03/31/trump-indictme...
13,Here's how Virgin Orbit fell apart,19 Hours Ago,https://www.cnbc.com/2023/03/31/virgin-orbit-w...
14,What to watch in the markets in the week ahead,19 Hours Ago,https://www.cnbc.com/2023/03/31/stocks-could-b...
15,How women are re-defining ambition to build ha...,19 Hours Ago,https://www.cnbc.com/2023/03/31/how-women-are-...
16,These stocks could benefit from lower tax refu...,20 Hours Ago,https://www.cnbc.com/2023/03/31/tax-refunds-ar...
17,U.S. appeals decision striking down free Obama...,20 Hours Ago,https://www.cnbc.com/2023/03/31/obamacare-bide...
18,The top 10 states with the longest life expect...,20 Hours Ago,https://www.cnbc.com/2023/03/31/top-10-states-...
19,This week's top S&P 500 stocks include First R...,20 Hours Ago,https://www.cnbc.com/2023/03/31/weeks-top-sp-5...
20,‘Rust’ assistant director pleads guilty to gun...,20 Hours Ago,https://www.cnbc.com/2023/03/31/rust-assistant...
21,"Investors 'are pretty afraid,' financial psych...",20 Hours Ago,https://www.cnbc.com/2023/03/31/financial-psyc...
22,Bitcoin posts its third straight positive mont...,21 Hours Ago,https://www.cnbc.com/2023/03/31/bitcoin-heads-...
23,Paying more and earning less: How inflation di...,21 Hours Ago,https://www.cnbc.com/2023/03/31/paying-more-an...
24,California to require half of all heavy trucks...,21 Hours Ago,https://www.cnbc.com/2023/03/31/california-req...
25,Tesla issues recall on Semi over defective bra...,21 Hours Ago,https://www.cnbc.com/2023/03/31/tesla-issues-r...
26,Investor Dan Niles likes these tech stocks hea...,21 Hours Ago,https://www.cnbc.com/2023/03/31/investor-dan-n...
27,Vince McMahon locks in two-year contract as WW...,21 Hours Ago,https://www.cnbc.com/2023/03/31/vince-mcmahon-...
28,"As the cost of living skyrockets, money is the...",21 Hours Ago,https://www.cnbc.com/2023/03/31/financial-depe...
29,April is usually the best month for the Dow. H...,22 Hours Ago,https://www.cnbc.com/2023/03/31/april-is-usual...

# Q NO 8

In [57]:
page = requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
page

In [58]:
soup = BeautifulSoup(page.content)

In [59]:
paper_Title=[]
for i in soup.find_all('li',class_="sc-9zxyh7-1 sc-9zxyh7-2 kOEIEO hvoVxs"):
    paper_Title.append(i.text.split(',')[0])

In [60]:
authors=[]
for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text)

In [61]:
published_Date=[]
for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    published_Date.append(i.text)

In [62]:
link=[]
for i in soup.find_all('a', class_="sc-5smygv-0 fIXTHm"):
    link.append(i.get('href'))

In [63]:
print(len(paper_Title),len(authors),len(published_Date),len(link))

25 25 25 25

In [64]:
import pandas as pd
df=pd.DataFrame({"Paper Title":paper_Title,"Authors":authors,"Published Date":published_Date,"Paper URL":link})
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enoughSilver,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw inputEvans,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligenceBoden,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory inputEvans,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligenceBench-...,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature reviewLuo,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selectionKohavi,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,Quantum computation,"Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# Q NO 9

In [65]:
page = requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
page

In [66]:
soup = BeautifulSoup(page.content)

In [67]:
name=[]
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    name.append(i.text)

In [68]:
cuisine=[]
for i in soup.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text.split('|')[1])

In [69]:
location=[]
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)

In [70]:
ratings=[]
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    ratings.append(i.text)

In [71]:
link=[]
for i in soup.find_all('a', class_="restnt-name ellipsis"):
    link.append(i.get('href'))

In [72]:
print(len(name),len(cuisine),len(location),len(ratings),len(link))

9 9 9 9 9

In [73]:
df=pd.DataFrame({"Restaurant name":name,"Cuisine":cuisine,"Location":location,"Ratings":ratings,"Image URL":link})
df

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,/delhi/castle-barbeque-connaught-place-central...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,/delhi/jungle-jamboree-lajpat-nagar-3-south-de...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,/delhi/cafe-knosh-shahdara-east-delhi-406
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,/delhi/castle-barbeque-tagore-garden-west-delh...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,/delhi/the-barbeque-company-sector-38a-noida-7...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,/delhi/india-grill-saket-south-delhi-2687
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,/delhi/delhi-barbeque-mahipalpur-south-delhi-5...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,/delhi/the-monarch-bar-be-que-village-indirapu...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,/delhi/indian-grill-room-golf-course-road-gurg...