In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

## Q NO 1

In [2]:
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
search_field_designation=driver.find_element(By.CLASS_NAME,"suggestor-input  ")
search_field_designation.send_keys("Data Analyst")

In [5]:
search_field_location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
search_field_location.send_keys("Bangalore")

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_req=[]

In [8]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location=i.text
    job_location.append(location)
     
# scraping company name from the given page
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    company_name.append(company)

# scraping job experience from the given page
experience_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tag[0:10]:
    experience=i.text
    experience_req.append(experience)

In [9]:
print(len(job_title),len(job_location),len(company_name),len(experience_req))

10 10 10 10

In [10]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company name':company_name,'Experience':experience_req})
df

,Title,Location,Company name,Experience
0,Data Analyst,Bangalore/Bengaluru,Cynosure Corporate Solutions,2-7 Yrs
1,Data Analyst III,Bangalore/Bengaluru,Walmart,3-7 Yrs
2,Compliance Rule Writer/Data Analyst,Bangalore/Bengaluru,Paypal,5-8 Yrs
3,Data Analyst,Bangalore/Bengaluru,NNE Pharmaplan,1-2 Yrs
4,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
5,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs
6,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
7,Data Engineer/Data Analyst,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Tech Mahindra,6-11 Yrs
8,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
9,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs

In [11]:
driver.close()

## Q NO 2

In [2]:
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
search_field_designation=driver.find_element(By.CLASS_NAME,"suggestor-input  ")
search_field_designation.send_keys("Data Scientist")

In [5]:
search_field_location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
search_field_location.send_keys("Bangalore")

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]

In [8]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location=i.text
    job_location.append(location)
     
# scraping company name from the given page
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    company_name.append(company)

In [9]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [10]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company name':company_name})
df

,Title,Location,Company name
0,Data Science Professional - IBM SPSS Statistic...,"Bangalore/Bengaluru, Noida, Mumbai, Pune, Chennai",Hexaware Technologies
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Senior data scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
4,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
5,Data Scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
6,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
7,Sr. Data scientist,"Hybrid - Bangalore/Bengaluru, Mumbai (All Areas)",PayU
8,Manager - Innovations Hub - Machine Learning,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
9,Lead Data Scientist,Bangalore/Bengaluru,Genpact

In [11]:
driver.close()

## Q NO 3

In [2]:
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
search_field_designation=driver.find_element(By.CLASS_NAME,"suggestor-input  ")
search_field_designation.send_keys("Data Scientist")

In [5]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
location.click()

In [8]:
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[1]/div[2]/div[2]/label/p/span[1]")
salary.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_req=[]

In [10]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location=i.text
    job_location.append(location)
     
# scraping company name from the given page
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    company_name.append(company)

# scraping job experience from the given page
experience_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tag[0:10]:
    experience=i.text
    experience_req.append(experience)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_req))

10 10 10 10

In [12]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company name':company_name,'Experience':experience_req})
df

,Title,Location,Company name,Experience
0,Data Scientist,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Cognizant,6-10 Yrs
1,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
3,MLOps - Data Scientist,Noida,Paytm,3-8 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tabsquare,1-3 Yrs
5,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
6,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
7,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
8,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
9,Senior Data Scientist,"Hyderabad/Secunderabad, Chenani, Gurgaon/Gurug...",RecruitEForU,3-8 Yrs

In [13]:
driver.close()

## Q NO 4

In [2]:
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [3]:
driver.get('https://www.flipkart.com/')

In [4]:
search_field_designation=driver.find_element(By.CLASS_NAME,"_3704LK")
search_field_designation.send_keys("sunglasses")

In [5]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [6]:
brand_name=[]
Product_Description = []
price = []

In [7]:
start = 0
end = 3
for page in range(start,end):
    name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in name:
        brand_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [8]:
search=driver.find_element(By.CLASS_NAME,"_1LKTO3")
search.click()

In [9]:
start = 0
end = 3
for page in range(start,end):
    Product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]|//a[@class="IRpwTa"]')
    for i in Product:
        Product_Description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
search=driver.find_element(By.CLASS_NAME,"_1LKTO3")
search.click()

In [11]:
start = 0
end = 3
for page in range(start,end):
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [12]:
print(len(brand_name),len(Product_Description),len(price))

120 120 120

In [13]:
df=pd.DataFrame({'Brand':brand_name,'Product':Product_Description,'Price':price})
df[0:100]

         Brand                                            Product Price
0     TheWhoop   UV Protection Rectangular Sunglasses (Free Size)  ₹312
1       AISLIN  Toughened Glass Lens, UV Protection Aviator Su...  ₹875
2         SRPM             UV Protection Wayfarer Sunglasses (50)  ₹149
3    Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹149
4     Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹619
..         ...                                                ...   ...
95  iCopertina  Toughened Glass Lens, UV Protection Aviator Su...  ₹219
96    Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹489
97   New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹264
98      PIRASO              UV Protection Aviator Sunglasses (58)  ₹274
99  iCopertina  UV Protection, Gradient Wayfarer, Retro Square...  ₹219

[100 rows x 3 columns]

In [14]:
driver.close()

## Q NO 5

In [2]:
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [3]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [4]:
rating=[]
review_summary=[]
full_review=[]

In [5]:
start = 0
end = 10
for page in range(start,end):
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tag:
        rating.append(i.text)
             
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [6]:
search=driver.find_element(By.CLASS_NAME,"_1LKTO3")
search.click()

In [7]:
start = 0
end = 10
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        review_summary.append(i.text)
             
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [8]:
search=driver.find_element(By.CLASS_NAME,"_1LKTO3")
search.click()

In [9]:
start = 0
end = 10
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in review:
        full_review.append(i.text)
             
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [10]:
print(len(rating),len(review_summary),len(full_review))

100 100 100

In [11]:
df=pd.DataFrame({'Rating':rating,'Review Summary':review_summary,'Full Review':full_review})
df

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Perfect product!,iphone 11 is a very good phone to buy only if ...
97,4,Pretty good,Just got this iphone 11\nAnd it is most powerf...
98,5,Highly recommended,"Amazing camera quality as expected, battery al..."
99,5,Great product,It is just awesome mobile for this price from ...

In [12]:
driver.close()

## Q NO 6

In [13]:
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [14]:
driver.get('https://www.flipkart.com/')

In [15]:
search_field_designation=driver.find_element(By.CLASS_NAME,"_3704LK")
search_field_designation.send_keys("sneakers")

In [16]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [17]:
brand_name=[]
Product_Description = []
price = []

In [18]:
start = 0
end = 3
for page in range(start,end):
    name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in name:
        brand_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [19]:
search=driver.find_element(By.CLASS_NAME,"_1LKTO3")
search.click()

In [20]:
start = 0
end = 3
for page in range(start,end):
    Product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]|//a[@class="IRpwTa"]')
    for i in Product:
        Product_Description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
search=driver.find_element(By.CLASS_NAME,"_1LKTO3")
search.click()

In [21]:
start = 0
end = 3
for page in range(start,end):
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [22]:
print(len(brand_name),len(Product_Description),len(price))

120 120 120

In [23]:
df=pd.DataFrame({'Brand':brand_name,'Product':Product_Description,'Price':price})
df[0:100]

       Brand                                            Product   Price
0     Labbin  Casual Sneakers ColourFul Block Shoes For Boys...    ₹694
1     Labbin  Casual Sneakers ColourFul Block Shoes For Boys...    ₹694
2        SFR                                   Sneakers For Men    ₹299
3     Kraasa                                 Sneakers For Women    ₹299
4      BIRDE      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹499
..       ...                                                ...     ...
95       SFR                                   Sneakers For Men    ₹279
96  Magnolia                      22 FH Rubber Sneakers For Men  ₹5,849
97      aadi                      TRC Blaze FD Sneakers For Men  ₹3,999
98     BIRDE            Combo Pack of 2 Sports Sneakers For Men    ₹499
99     BIRDE       Combo Pack of 2 Casual Shoe Sneakers For Men    ₹499

[100 rows x 3 columns]

In [24]:
driver.close()

## Q NO 7

In [2]:
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [3]:
driver.get('https://www.amazon.in/')

In [4]:
search_field_designation=driver.find_element(By.XPATH,"//div[@class='nav-search-field ']//input")
search_field_designation.send_keys("laptop")

In [5]:
search=driver.find_element(By.CLASS_NAME,"nav-right")
search.click()

In [6]:
cpu=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/li[12]/span/a/div")
cpu.click()

In [7]:
title=[]
rating=[]
price=[]

In [8]:
# scraping laptop title from the given page
title_tags=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
for i in title_tags[0:10]:
    title_t=i.text
    title.append(title_t)
    
# scraping rating tag from the given page
rating_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rating_tag[0:10]:
    rating_t=i.text
    rating.append(rating_t)
     
# scraping rating from the given page
price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tag[0:10]:
    price_t=i.text
    price.append(price_t)

In [9]:
print(len(title),len(rating),len(price))

10 10 10

In [10]:
df=pd.DataFrame({'Title':title,'Rating':rating,'Price':price})
df

                                               Title Rating   Price
0  (Renewed) HP Zbook Mini Server Laptop Intel E3...    5.0  58,990
1  (Renewed) HP Zbook Mini Server Laptop Intel E3...         74,990
2  (Renewed) HP Zbook Mini Server Laptop Intel E3...         52,990
3  (Renewed) HP Zbook Mini Server Laptop Intel E3...         51,990
4  (Renewed) HP Zbook Mini Server Laptop Intel E3...         56,990
5  (Renewed) HP Zbook Mini Server Laptop Intel E3...         66,990
6  (Renewed) HP Zbook Mini Server Laptop Intel E3...         47,990
7  (Renewed) HP Zbook Mini Server Laptop Intel E3...         57,990
8  (Renewed) HP Zbook Mini Server Laptop Intel E3...         48,990
9  (Renewed) HP Zbook Mini Server Laptop Intel E3...         51,990

In [11]:
driver.close()

# Q NO 8

In [2]:
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [3]:
driver.get('https://www.azquotes.com/')

In [4]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
search.click()

In [5]:
quote = []
author = []
type_of_quote=[]

In [6]:
start = 0
end = 10
for page in range(start,end):
    quote_t=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_t:
        quote.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    next_button.click()
    time.sleep(3)

In [7]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[3]/a')
search.click()

In [8]:
start = 0
end = 10
for page in range(start,end):
    author_tag=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tag:
        author.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    next_button.click()
    time.sleep(3)

In [9]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[3]/a')
search.click()

In [10]:
start = 0
end = 10
for page in range(start,end):
    quote_type=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in quote_type:
        type_of_quote.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    next_button.click()
    time.sleep(3)

In [11]:
print(len(quote),len(author),len(type_of_quote))

1000 1000 1000

In [12]:
df=pd.DataFrame({'Quote':quote,'Athor':author,'Type of Quote':type_of_quote})
df

,Quote,Athor,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [13]:
driver.close()

## Q NO 9

In [14]:
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [15]:
driver.get('https://www.jagranjosh.com/')

In [16]:
search=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a')
search.click()

In [17]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
search.click()

In [18]:
name=[]
born_dead=[]
term_of_office=[]
remarks=[]

In [19]:
# scraping name from the given page
name_tag=driver.find_elements(By.XPATH,'//td[@style="width: 150px; height: 121px;"]|//td[@style="width: 150px; height: 80px;"]|//td[@style="width: 150px; height: 104px;"]|//td[@style="width: 150px; height: 87px;"]|//td[@style="width: 150px; height: 97px;"]')
for i in name_tag:
    name_t=i.text
    name.append(name_t)
    
# scraping rating tag from the given page
born_dead_tag=driver.find_elements(By.XPATH,'//td[@style="width: 105px; height: 121px;"]|//td[@style="width: 105px; height: 80px;"]|//td[@style="width: 105px; height: 104px;"]|//td[@style="width: 105px; height: 97px;"]|//td[@style="width: 105px; height: 87px;"]')
for i in born_dead_tag:
    born_dead_t=i.text
    born_dead.append(born_dead_t)
     
# scraping term_of_office from the given page
term_of_office_tag=driver.find_elements(By.XPATH,'//td[@style="width: 256px; height: 121px;"]|//td[@style="width: 256px; height: 80px;"]|//td[@style="width: 256px; height: 80px;"]|//td[@style="width: 256px; height: 104px;"]|//td[@style="width: 256px; height: 87px;"]|//td[@style="width: 256px; height: 97px;"]')
for i in term_of_office_tag:
    term_of_office_t=i.text
    term_of_office.append(term_of_office_t)
    
# scraping remarks from the given page
remarks_tag=driver.find_elements(By.XPATH,'//td[@style="width: 145px; height: 121px;"]|//td[@style="width: 145px; height: 80px;"]|//td[@style="width: 145px; height: 104px;"]|//td[@style="width: 145px; height: 87px;"]|//td[@style="width: 145px; height: 97px;"]')
for i in remarks_tag:
    remarks_t=i.text
    remarks.append(remarks_t)

In [20]:
print(len(name),len(born_dead),len(term_of_office),len(remarks))

18 18 18 18

In [21]:
df=pd.DataFrame({'Prime minister name':name,'Born and Dead':born_dead,'Term of Office':term_of_office,'Remarks':remarks})
df

,Prime minister name,Born and Dead,Term of Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [22]:
driver.close()